 
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.text-primary{
  color:#FD6E0A;
}




 nav{
    display: flex;
     align-items: center;
     justify-content: space-between;
 }
 .nav-title{
  font-weight: 800;
  font-size: 45px;
 }
 .dark-2{
  color: black;
 }

 nav ul li{
  list-style: none;
 }
 nav li a{
  text-decoration: none;
  font-size: 20px;
  
 }
 nav ul{
  display: flex;
  align-items: center;
  gap:20px
 }
 .btn-primary{
  background-color: #FD6E0A;
  font-weight: bold;
  color:white;
  border:none;
  padding:18px,35px;
  border-radius: 5px;
  font-size: 20px;
  
  
 }

 .banner-greatings{
  font-size: 45px;
  font-weight: 600;
 }
 .bannetr-title{
  font-weight: bold ;
  font-size: 85px ;
 }
 .banner-profile picture{
  width: 580px;
 }
 .banner{
  display: flex;
  justify-content: space-between;
  margin:0 35px 0 230px;
 }
 .banner-content{
  max-width: 580px ;
 }
 .header{
  
  background-image: url(../images/developer.png),url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
 
 }
 .section-title{
  font-size: 35px;
  font-weight: bold;
 }
 .section-title{
  font-size: 35px;
  font-weight: bold;
  columns: #181818;
  
 }
 .section-description{
  font-size: 18px;
  color: #757575;
 }
 .secondary-bg{
  background-color: #fff8f3;
 }
 main{
  max-width: 1140px;
  margin: 0 auto;
 }
 .about{
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
   
 }
 .item-description{
  font font-weight: 600;
 }
 .about-items{
  display: flex;
  justify-content: space-around;
 }
 .text-center{
  text-align: center;
 }
 .skill-container{
  display: flex;
  gap:24px;

 }
 .skill{
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
 }
.main-section{
  margin-top: 130px;
  margin-bottom: 130px;
}